:root{ /*Color variables that will be used*/
    --accent-color:#3ca89f;
    --text-color:black;
    --input-color:#F3F0FF;
}
*{
    margin:0;
    padding: 0;
}
html{
    font-family:'Noto Serif', serif, Arial, Helvetica, serif;
    font-size: 12pt;
    color:var(--text-color);
    text-align: center;
}
body{
    font-family: 'Noto Serif', serif;
    min-height:100vh;
    display: flex;
    flex-direction: column; /*vertical orientation*/
    justify-content: center; /*center things vertically*/
    align-items: center;/*also center horizontally*/
    background-image: url(../Images/background.jpg);
    background-size:cover;
    background-position: left;
    overflow: hidden;

}
.wrapper{
    box-sizing: border-box;
    height:100vh;
    width: max(40%, 600px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{font-size: 3rem; /*3times the original font size*/
font-weight:600;

}
form{
    width:min(400px,100%);
    margin-top: 20px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form > div{
    width: 100% ;
    display: flex;
    justify-content: center;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width:0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border: 2px solid var(--input-color);
    background-color: var(--input-color);
    transition:150ms ease;

}
form input:hover{
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
form input::placeholder{
    color: var(--accent-color);
}
form button{
    margin-top:10px;
    border:none;
    border-radius:1000px;
    padding:.85em 4em;
    background-color: var(--accent-color);
    font:inherit;
    font-weight: 600;
    text-transform:uppercase;
    cursor:pointer;
}
form button:hover{
    background-color: rgb(37, 213, 198);
}
@media(max-width:1100px){ /*this helps it stay when you mess with browser window*/
    .wrapper{
        width: min(600px,100%);
        border-radius: 0;
    }
}
form div.incorrect input{
    border-color: #e70b25;
  }

#error-message{
  color:#e70b25;
}
